cffi>=1.15.0
coverage>=6.2
psutil>=5.8.0
numpy>=1.19.5; sys_platform == 'linux'
numpy<=1.18.5; sys_platform == 'darwin'
pandas>=1.1.5; platform.python_implementation == 'CPython'
pandas<=1.2.5; platform.python_implementation == 'PyPy'
dpkt>=1.9.7
wheel>=0.37.0
twine>=3.4.2
setuptools>=57.4.0
codecov>=2.1.12
pytest>=7.0.1
tqdm>=4.63.0
auditwheel>=5.1.2